.food-detail{
    margin: none;
    padding: none;
}   
ul{
    list-style: none;
    text-align: left;

}
.img{
    background-image: url('http://media.anhp.vn:8081/files/nganpham/NGAN_071528798541.jpg');
    height: 350px;
    width: 35%;
}

.infRestaurant{
    height:auto;
    -webkit-box-shadow: 0px 8px 12px -2px rgba(252,169,169,1);
    -moz-box-shadow: 0px 8px 12px -2px rgba(252,169,169,1);
    box-shadow: 0px 8px 12px -2px rgba(252,169,169,1);
}
@media only screen and (max-width: 768px) {
    .restaurant-detail {
      display: flex;
      flex-direction: column;
    }
    .img{
        width: 100%;
        height: 50%;
      
    }
  }

.grid-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}