.listCart{
    width: 100vw;
}
.formCart{
    width: 100%;    
}
.formCart:hover{
    background: gainsboro;
}
.img{
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tag{
    width: 100vw;
    background: violet;
}

