.footerItem{
    width: 60vw;
    display: flex;

}

.headerItem{
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 768px){
    .Items{
        background: whitesmoke;
        width: 100vw;
        height: 18vh;
    }
    .bodyItem{
        width: 50%;
        margin: 5px;
    }
    .itemName{
        font-size: 15px;
        text-align: left;
        word-wrap: break-word;
    }
    .footerItem{
        width: 20%;
    }
    .itemPrice{
        width: 70px;
        height: 5px;
        font-size: 18px;
    }
}