
.header{
  font-family: Arial, Helvetica, sans-serif;
  font-variant: normal;
  z-index: 99;
  background-color: tomato;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  height: 8vh;
  display: flex;
  position: sticky;
  top: 0;
}
.menuMobile{
  display: none;
}
.navbar-toggle{
  display:none !important;
}

.header > .logo {
  font-size: 2em;
  color: #fff;
  letter-spacing: 3px;
}

.header > ul{
  list-style: none;
  width: 80%;
}

.menu{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 14px;  
  justify-content: center;
  align-items: center;
}
  
.btn-pageItems{
  padding: 10px;
  font-style: initial;
  font-size: 1.1em;
  font-weight: 500 ;
  color: #fff;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 15px;
  cursor: pointer; 
}
.icn-cart{
  border-left: 1px solid white; 
}
.icn-acc{
 float: right;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.search {
  position: relative;
  display: flex;

}

.searchTerm {
  width: 10vw;
  height:4vh;
  border: 1px solid gainsboro;
  border-right: none;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height:4vh;
  border: 1px solid black;
  background: #222222;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
}

/*Resize the wrap to see the search bar change!*/
.wrap{  
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-primary{
  padding: 0;
  width: 120px;
  height: 30px;
  font-size: 14px;

  cursor: pointer;
  background: black;
  color: white;
  border: none;
}
@media only screen and (max-width: 768px) {
  .menu {
    display: none; 
  }
  .navbar-toggle{
    display: block !important;

    padding: 0;
    top:0;
    right:0;
    z-index: 99;
    color: #f2f2f2;
    cursor: pointer;
  }
  .menuMobile{
    display: flex;
    animation-name: mymove ;
    animation-duration:0.5s;
    animation-timing-function: ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top:7vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333;
  }
  @keyframes mymove {
    from {height:0 ;}
    to {height: 100vh;}
  }
  .items{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .btn-pageItems{
    color:white;
  }
}