
body, html {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  }
  
.app-header {
  display:block;
  background-size: cover;
  Object-fit: cover;
}
.card-header{
  width: 200px;
    height: 150px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card-header--title{
  padding: 0;
  margin: 0;
}
  
.app-card-list {
  display:flex;
  width:100%;
  margin:0;
  white-space:normal;

} 
.body-content{
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card {
  height: 300px;
  width:200px;
  display: inline-block;
  margin-right: 15px;
  background: white;
}
.card-body {
  white-space: normal;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
font-size: 12px;
width: 90%;
height: 100px;
word-wrap: break-word;
}

/* Button */
.button-primary{
  width: 100%;
  height: 40px;

  cursor: pointer;
  border: 1px solid #fff;
  transition: all .3s linear;
  font-size: .8em;
}

.button-primary:hover {
  background: #a70099;
}
