#signUpForm{
    background-image: url('https://stmed.net/sites/default/files/food-wallpapers-28249-101905.jpg');
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;;
}
.form{
    width:50vh;
    height: 70vh;
    background: whitesmoke;
    border-radius: 5%;
    opacity: 85%;
}
.field{
    height: 8vh;
}